services:
  server:
    environment:
      - TURN_ENABLED=true
      - TURN_URL=turn:turn:3478
      - TURN_USERNAME=openmeet
      - TURN_PASSWORD=${TURN_PASSWORD:-openmeet-secret}

  turn:
    image: coturn/coturn:latest
    ports:
      - "3478:3478/udp"
      - "3478:3478/tcp"
      - "5349:5349/udp"
      - "5349:5349/tcp"
      - "49152-49200:49152-49200/udp"
    volumes:
      - ./turnserver.conf:/etc/coturn/turnserver.conf:ro
    command: ["-c", "/etc/coturn/turnserver.conf"]
    restart: unless-stopped
