services:
  web:
    build:
      context: ./web
      args:
        VITE_SIGNALING_URL: http://localhost:4000
    ports:
      - "3000:80"
    depends_on:
      - server

  server:
    build: ./server
    ports:
      - "4000:4000"
    environment:
      - PORT=4000
      - CORS_ORIGIN=*
      - TURN_ENABLED=false
