services:
  server:
    environment:
      - TURN_ENABLED=true
      - TURN_URL=turn:${EXTERNAL_IP}:3478
      - TURN_USERNAME=ultra.coins.tsukuba.ac.jp
      - TURN_PASSWORD=ThanksIPA

  turn:
    image: coturn/coturn:latest
    ports:
      - "3478:3478/udp"
      - "3478:3478/tcp"
      - "5349:5349/udp"
      - "5349:5349/tcp"
      - "49152-49200:49152-49200/udp"
    volumes:
      - ./turnserver.conf:/etc/coturn/turnserver.conf:ro
    command:
      - -c
      - /etc/coturn/turnserver.conf
      - --external-ip=${EXTERNAL_IP}
    restart: unless-stopped
